{% include 'Public/Header.html.twig' with {'page_name': 'Home'} %}
<div class="container">

    <div class="jumbotron" style="padding-top: 75px;">
        <h1>Fraud Detection.</h1>
        <p>Filter transactions for fraud in real-time.</p>
    </div>

    <div class="row">
        <div class="col-lg-12 text-center">
            <div>
                <div class="alert alert-info" role="alert">We couldn't find any transactions...</div>
            </div>
        </div>
    </div>

</div>
{% include 'Public/Footer.html.twig' %}
